#left-container, #center-container, #right-container {
  background-color: #eee;
  border-radius: 5px;
  margin-top: 80px;
  height: 600px;
  opacity: .8;
}
.inventoryItem {
  float: left;
  text-align: center;
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
  width: 125px;
  height: 125px;;
}
.top-buffer {
  margin-top: 20px;
}
.tab-display {
  display: none;
}
.current-tab {
  display: block;
}
.text-section {
  position: absolute;
  bottom: 0;
  margin: 20px 5px 20px 5px;
 }
h2 {
  font-family: Marmelad;
}
hr {
  border: 0;
  clear:both;
  display:block;
  width: 96%;
  background-color:#333;
  height: 1px;
}
body {
  background-color: #222222;
}
